:root {
    --text-color: #FFFFFF;
    --bg: url("assets/bg-desktop.jpg");
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.10);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --button-bg: url("assets/MoonStars.svg");
}

.light {
    --text-color: #000000;
    --bg: url("assets/bg-desktop-light.jpg");
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --button-bg: url("assets/Sun.svg");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover,
.mainContainer .modeButton:hover,
ion-icon:hover, .mainContainer .modeControls:hover, .mainContainer .linksContainer .linkButtons:hover {
    cursor: pointer;
}

.mainContainer,
.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    max-width: 588px;
    height: 712px;
    position: relative;

}

.mainContainer .headerContainer {
    max-width: 588px;
    height: 192px;
    padding: 24px;

}

.mainContainer .headerContainer .imgContainer {
    width: 112px;
    height: 112px;
    margin-bottom: 8px;
    background: var(--avatar) no-repeat fit-content;
    border-radius: 50%;
}

.mainContainer .modeControls {
    width: 64px;
    height: 40px;
    position: relative;
    margin: 4px 0 8px 0;
}


.mainContainer .modeControls .modeButton {
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    backdrop-filter: blur(4px);
}

.mainContainer .modeControls .modeButton .switch {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: white var(--button-bg) no-repeat center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: slide-back .2s forwards;
}

.light .mainContainer .modeControls .modeButton .switch {
   animation: slide-in .2s forwards;
}

.mainContainer .modeControls .modeButton .switch:hover {
    outline: 8px solid var(--highlight-color);
}

.mainContainer .linksContainer {
    max-width: 588px;
    height: 320px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}

.mainContainer .linksContainer .linkButtons {
    width: 540px;
    height: 56px;
    border: 1px solid var(--stroke-color);
    color: var(--text-color);
    background-color: var(--surface-color);
    border-radius: 8px;
    padding: 16px;
}

.mainContainer .mediaLinksContainer {
    max-width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.mainContainer .mediaLinksContainer ion-icon {
    font-size: 24px;
}

.mainContainer .footContainer {
    max-width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

@media (max-width: 580px) {
    body .mainContainer .linksContainer {
        padding: 0;
    }

    .mainContainer .linksContainer .linkButtons {
        max-width: 375px;
    }

}

@keyframes slide-in {
    from{
        left: 0
    }

    to{
        left: 50%
    }
}

@keyframes slide-back {
    from{
        left: 50%
    }

    to{
        left: 0
    }
}