
:root{
    --text-color: #FFFFFF;
    --bg: url("assets/bg-desktop.jpg");
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.10);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --button-bg: url("assets/MoonStars.svg");
    --avatar: url("assets/avatar.png");
}

.light{
    --text-color: #000000;
    --bg: url("assets/bg-desktop-light.jpg");
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --button-bg: url("assets/Sun.svg");
    --avatar: url("assets/avatar.png");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-image: var(--bg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.mainContainer, .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    width: 588px;
    height: 712px;
    position: relative;
}

.mainContainer .headerContainer{
    width: 588px;
    height: 192px;
    padding: 24px;

}

.mainContainer .headerContainer .headImage{
    width: 112px;
    height: 112px;
    margin-bottom: 8px;
}

.mainContainer .modeControls{
    width: 64px;
    height: 40px;
    position: relative;
    margin: 4px 0 8px 0;
}

.mainContainer .modeControls:hover{
    cursor: pointer;
}

.mainContainer .modeControls .modeButton{
    width: 64px;
    height: 24px;
    border-radius: 999px;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    
}

.mainContainer .modeControls .modeButton .switch{
    width: 32px;
    height: 32px;
    padding: 8px;
    border: 0;
    border-radius: 50%;
    background: var(--text-color) var(--button-bg) no-repeat center;
    position: absolute;
    top: -3px;
    left: -3px;
}

.mainContainer .modeControls .modeButton .switch:hover{
    border: 8px solid var(--highlight-color);
    box-shadow: 0px 2px 8px 0px var(--surface-color);
}

.mainContainer .linksContainer{
    width: 588px;
    height: 320px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.mainContainer .linksContainer .linkButtons{
    width: 540px;
    height: 56px;
    border: 1px solid var(--stroke-color);
    color: var(--text-color);
    background-color: var(--surface-color);
    border-radius: 8px;
    padding: 16px;
}


.mainContainer .linksContainer .linkButtons:hover{
    cursor: pointer;
}
.mainContainer .mediaLinksContainer{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.mainContainer .mediaLinksContainer ion-icon{
    font-size: 24px;
}

.mainContainer .footContainer{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

